####################################################
# This is an example file. Do not add actual       #
# values here. See README.md for instructions.     #
####################################################

servers:
- name: server.test
- name: agent1.test
- name: agent2.test
