####################################################
# This is an example file. Do not add actual       #
# values here. See README.md for instructions.     #
####################################################

servers:
- name: <value>
  ipv4: <value>
  ipv4_mask: <numerical value>
  ipv4_gw: <value>
  search_domains: "<value>"